<section>
    	<div class="main_container">
            <div class="inner_banner subscription_page">
                <div class="banner_txt_part">
                	<div class="sub_container">
                    	<div class="sub_left fl">
                        	<img src="/assets/banner_left_img.png"/>
                        </div>
                        <div class="sub_right fr">
                        	<img src="/assets/banner_right_img.png"/>
                        </div>
                        <div class="sub_center">
                        	<h1 class="sub_cen_title">Subscribe Today!</h1>
                            <ul>
                            	<li>
                                	<h2 class="plan_length">6 Months</h2>
                                    <p><span class="sub_price"><sup>$</sup>2.99</span><a href="/paynow/month" class="sub_banner_button">Subscribe Now!</a></p>
                                </li>
                                <li>
                                	<h2 class="plan_length">1 Year</h2>
                                    <p><span class="sub_price"><sup>$</sup>4.99</span><a href="/paynow/year" class="sub_banner_button">Subscribe Now!</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cms_section">
            	<div class="container">
                	<%= raw(@page.body) %>
            
                     <div class="sbcr_page">
                         <div class="qust_contact">
                            <p>QUESTIONS before you subscribe?</p>
                            <h1><a href="/contact-us">CONTACT US</a></h1>
                         </div>
                     </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>