$('#brand_city_select').html("#{escape_javascript(options_for_select(@cities))}");
$('#brand_zipcode_select').html("#{escape_javascript(options_for_select(['']))}");
$('#brand_location_select').html("#{escape_javascript(options_for_select(['']))}");