<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Find Real Food - Forgot Password</title>
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style=" margin:0px; padding:0px;">
<div style="width:600px; margin:0px; padding:0px; margin:0 auto; border:1px solid #ddd;"><table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" style=" line-height:1px; font-size:1px; border-bottom:1px solid #ddd; padding:10px 10px 10px 10px; background:#dd3637;"><img src="http://72.167.38.159/assets/logo.png" alt="Allentuck" width="567"/></td>
  </tr>
  <% date = Time.now  %>
  <tr>
    <td align="right" valign="top" style="font:bold 14px Arial, Helvetica, sans-serif; color:#3d3d3d; padding:10px 12px 10px 0px;"><%= date.strftime '%b %d, %Y' %></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="font:bold 16px Arial, Helvetica, sans-serif; color:#dd3637; padding-left:12px;">Login Credentials</td>
  </tr>
    <tr>
    <td align="left" valign="top" style="font:normal 12px Arial, Helvetica, sans-serif; color:#3a3a3a; text-align:justify; line-height:18px; padding:12px 12px 0px 12px;">Find the login credentials below and login</td>
  </tr>
  <tr>
    <td align="left" valign="top" style="font:normal 12px Arial, Helvetica, sans-serif; color:#3a3a3a; text-align:justify; line-height:18px; padding:12px 12px 0px 12px;">Email: <%= @user.email %></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="font:normal 12px Arial, Helvetica, sans-serif; color:#3a3a3a; text-align:justify; line-height:18px; padding:12px 12px 0px 12px;">Password: <%= @user.encrypted_password %></td>
  </tr>
  
   <tr>
    <td align="left" valign="top" style="font:normal 12px Arial, Helvetica, sans-serif; color:#3a3a3a; text-align:justify; line-height:18px; padding:12px 12px 0px 12px;">&nbsp;</td>
  </tr>
   
  <tr>
    <td align="center" valign="top" style="font:normal 11px Arial, Helvetica, sans-serif; color:#fff; background:#101010; padding:11px 0px 11px 0px; margin:15px 0px 0px 0px;">Copyrights © 2014 Find Real Food. All Rights Reserved</td>
  </tr>
</table>
</div>
</body>
</html>
