                <div class="loading_ovelay">
                    <img src="/assets/product_loading.gif" alt="Loading..."/>
                </div>
                <div class="container">
                  <div class="products_list_tab">
                  <div class="choosen_foods fr">
                            <a href="/how-foods-are-chosen" class="button hide_for_mobile fr">How Foods Were Chosen & Ranked</a>
                             <a href="/how-foods-are-chosen" class="button hide_for_desktop fr">How Foods Were Chosen & Ranked</a>
                        </div>
                    <ul class='etabs'>
                        <li class='tab'><a href="#products" class="active">products</a></li>  
                       <li class='tab'><a href="#brands">brands</a></li>  
                      
                    </ul>
                  </div>
                    