  <%= render '/layouts/googlemap' %>
    <section>
        <div class="main_container">
             
            <div class="category_body">
                <div class="container">
                    <div class="category_desc">
                        <h1>Product Categories</h1>
                        <p>The products chosen for this guide have undergone meticulous research by the Weston A. Price Foundation. Read more about the selection criteria for each category <a href="/how-foods-are-chosen">here</a>.</p>
                    </div> 
                    
                    <div class="category_result">
                
                    <ul >
                            <%= render @categories %>
                           
                        </ul>
                     <div class="clear"></div>
                    </div> 
                    
                    <div class="scroll_down" data-page="2">
                        <p>Scroll down</p>
                        <a href="javascript:void(0);" class="pageload">
                            
                             <%= image_tag("scroll_down.png", :alt => "Scroll Down") %>
                        </a>
                    </div>              
                </div>
            </div>
        </div>
    </section>
<script type="text/javascript">
$(document).ready(function(){
    var next_page ='';
    var allpages = new Array(); 
    function lastAddedLiveFunc()
    {
        if($('.scroll_down').attr('data-page')){
         next_page = $('.scroll_down').attr('data-page')+'a';
         
            if(key_exists(next_page, allpages)){
                     
            }else{
                
                allpages.push(next_page);
           
                $.get('/categories', { page: $('.scroll_down').attr('data-page')}, null, "script");
          
            }
          
        }else{
            $('.scroll_down').hide();
        }
         return false;
    };
    


    function key_exists(key, search) {
    if (!search || (search.constructor !== Array && search.constructor !== Object)) {
        return false;
    }
    for (var i = 0; i < search.length; i++) {
        if (search[i] === key) {
            return true;
        }
    }
    return key in search;
    }


    $('.pageload').click(function(){
    
        lastAddedLiveFunc();
    });


    //lastAddedLiveFunc();
    
    $(window).scroll(function(){
        
        var wintop = $(window).scrollTop(), docheight = $(document).height(), winheight = $(window).height();
        var  scrolltrigger = 0.95;
        
        if  ((wintop/(docheight-winheight)) > scrolltrigger) {
         //console.log('scroll bottom');
         lastAddedLiveFunc();

        }
    });

    
    $("#search_field_new").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $("#products .product_item").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });
        
        $("#brands .product_item").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });

        
    });
  
     
});
 

     
 
     

</script>