                                            <div class="product_item">
                                                <div class="product_item_body">
                                                    <div class="media product">
                                                        <a href="/brand/<%= brand.slug %>" class="media_img" <% if brand.picture_file_name %> style="background:url('http://findrealfoodapp.com<%= brand.picture(:original) %>') no-repeat scroll center center; background-size: cover;" <% end %>>
                                                          

                                                       </a>
                                                        <div class="media_text">
                                                            <p class="media_sub_title">
                                                                <% if brand.slug !='' %><a href="/brand/<%= brand.slug %>">
                                                                <% else %>
                                                                <a href="javascript:void(0);">
                                                                <% end %>
                                                                <%= brand.name%></a></p>
                                                       

                                                        </div>
                                                         <div class="clear"></div>
                                                           

                                                    </div>
                                                </div>
                                            </div>